.Search {text-align:center; padding:0px 0 20px 0;}
.Search input{ padding:10px 20px; border:1px solid #ccc; border-radius:5px; width:400px; }
.Search button{ padding:10px 15px; border:1px solid #ccc; background:blue; color:#fff; font-size:15px; border-radius:5px; }